.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0%;
  }
  h1{
    font-size: 50px;
  }
  .head-color{
    color: orange;
  }
  .flex-section{
    display: flex;
    margin-bottom: 100px;
  }
  .width-half{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .width-half img{
    width: 100%;

  }
  .click-button{
    text-decoration: none;
    /*background-color: orange;*/
    background-image:linear-gradient(orange,red);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: aliceblue;

  }
  .first-pera{
    text-align: justify;
  }
  .top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
  }
.middle-banner{

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.third-banner{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position:left center;

}
.shadow{
  box-shadow: 10px 10px 30px gray;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
}
#left-border{
  border-left: 7px solid;
  border-image: linear-gradient(red, orange);
  border-image-slice: 3;
}
#right-border{
  border-left: 7px solid;
  border-image: linear-gradient(blue,cyan);
  border-image-slice: 3;
}
footer p{
  text-align: center;
}